DB_NAME=task-manager
DB_USER=root
DB_PASSWORD=
DB_HOST=localhost
JWT_SECRET=123456
NEXTAUTH_SECRET=abcd1234
NEXTAUTH_URL=http://localhost:3000
DATABASE_URL=postgresql://postgres.lqwvwbgrxrugnmnvhuzh:[YOUR-PASSWORD]@aws-1-ap-south-1.pooler.supabase.com:6543/postgres